section,
footer {
    margin: 30px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

img {
    display: block;
    padding: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;

    @media (min-width: $desktop) {
        border-radius: 0px 10px 10px 0;
    }
}

.description {
    padding: 32px;

    @media (min-width: $desktop) {
        max-width: 45%;
    }
}

.stats {
    padding: 10px 32px;

    @media (min-width: $desktop) {
        max-width: 45%;
    }
}

.container {
    position: relative;
}

.description {
    @media (min-width: $desktop) {}
}

.stats {
    @media (min-width: $desktop) {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: auto auto;
    }
}