@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  background-color: #090b1a;
}

.header,
.paragraph,
.stats,
.description,
div {
  background: transparent;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Inter", sans-serif;
}

.attribution a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
.attribution a:hover {
  color: #aa5cdb;
}

.card {
  background-color: #1b1938;
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  padding-bottom: 30px;
  position: relative;
}
@media (min-width: 1440px) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    width: unset;
  }
}

@media (min-width: 1440px) {
  .information {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.header {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: white;
}
.header--prominent {
  color: #aa5cdb;
}

.paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.8;
  padding: 10px 0;
}
.paragraph--upper {
  text-transform: uppercase;
  padding: 0 0 25px 0;
}
@media (min-width: 1440px) {
  .paragraph {
    padding: 0;
  }
}

.overlay {
  background-color: #aa5cdb;
  opacity: 0.5;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 10px 10px 0 0;
}
@media (min-width: 1440px) {
  .overlay {
    display: block;
    border-radius: 0 10px 10px 0;
  }
}

section,
footer {
  margin: 30px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

img {
  display: block;
  padding: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
@media (min-width: 1440px) {
  img {
    border-radius: 0px 10px 10px 0;
  }
}

.description {
  padding: 32px;
}
@media (min-width: 1440px) {
  .description {
    max-width: 45%;
  }
}

.stats {
  padding: 10px 32px;
}
@media (min-width: 1440px) {
  .stats {
    max-width: 45%;
  }
}

.container {
  position: relative;
}

@media (min-width: 1440px) {
  .stats {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
  }
}