@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
  background-color: #090b1a;
  color: rgba(255, 255, 255, 0.75);
  font-family: "Inter", sans-serif;
}

.header,
.paragraph,
.stats {
  background: transparent;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.card {
  background-color: #1b1938;
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  padding: 40px;
}

.header {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.header--prominent {
  color: #aa5cdb;
}

section {
  margin: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}